body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

/*colors

#e24d2f -light red
#D31F00 - dark red

#97CE48 - lime green
#6ca515 - dark green

#d6d66f - pale yellow
#A8A832 - dark pale yellow

#4FC72F - green
#378F00 - dark green
*/